Django==4.2.1
fuzzywuzzy==0.18.0
language_tool_python==2.7.1
numpy==1.24.3
openai==0.27.6
pandas==2.0.1
pyspellchecker==0.7.2
python-dotenv==1.0.0
spacy==3.5.3
textdistance==4.5.0
gunicorn==20.1.0
psycopg2==2.9.6
crispy-bootstrap5==0.7
whitenoise==6.5.0
