{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head_scripts %} {% endblock %}
    {% if title %}
        <title>{{ title }}</title>
    {%  endif %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
   <div class="grid-container">
        <header class="header">
            <div>Langlearn - Alpha</div>
            <div>
                <form action="{% url 'register' %}" method="get">
                    <button id="signup">Sign Up</button>
                </form>
            </div>
        </header>

        <main class="content">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer class="footer">
            <p>Footer content goes here</p>
        </footer>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>

{#<!-- LangLearn/templates/base.html -->#}
{#{% extends 'main/base.html' %}#}
{##}
{#    {% block head_scripts %}#}
{#        <script src="{% static 'main/../static/js/submit.js' %}" defer></script>#}
{#        <script>#}
{#            const csrftoken = '{{ csrf_token }}';#}
{#        </script>#}
{#        <script>#}
{#            window.onload = function() {#}
{#                originalSentence = "{{ sentence.sentence }}";#}
{#            };#}
{#        </script>#}
{#    {% endblock %}#}
{##}
{#    {% block content %}#}
{#        <h1>Welcome, {{ username }}!</h1>#}
{#        <p>You are learning {{ learning_language }}.</p>#}
{#        <p>Your proficiency level is {{ proficiency }}.</p>#}
{#        <p id="sentence">{{ sentence.sentence }}</p>#}
{#        <p id="translation">{{ sentence.translation }}</p>#}
{##}
{##}
{#        <textarea id="user-input"></textarea>#}
{#        <button id="submit-button">Submit</button>#}
{#        <p id="error-text"></p>#}
{##}
{#        <div id="compare-results"></div>#}
{#    {% endblock %}#}



<!-- LangLearn/templates/base.html -->
{##}
{#<!DOCTYPE html>#}
{#<html>#}
{#    <head>#}
{#        <title>LangLearn Home</title>#}
{##}
{#        <script>#}
{#            window.onload = function() {#}
{#                originalSentence = "{{ sentence.sentence }}";#}
{#            };#}
{#        </script>#}
{##}
{#        <script>#}
{#            document.addEventListener('DOMContentLoaded', function () {#}
{#            const submitButton = document.getElementById('submit-button');#}
{#            const userInput = document.getElementById('user-input');#}
{#            const errorText = document.getElementById('error-text');#}
{#            const resultsDiv = document.getElementById('compare-results');#}
{#            let originalSentence = document.getElementById('sentence').textContent; // Get the original sentence#}
{#            console.log("Original Sentence: ", originalSentence.trim());#}
{#            submitButton.addEventListener('click', function () {#}
{#                // Reset error text#}
{#                errorText.textContent = '';#}
{##}
{#                // Validate input#}
{#                if (userInput.value.trim() === '') {#}
{#                    errorText.textContent = 'Please enter your translation before submitting.';#}
{#                    return;#}
{#                }#}
{##}
{#            if (submitButton.textContent === 'Next') {#}
{#                // Fetch new sentence and update originalSentence#}
{#                fetch('/next_sentence/')#}
{#                    .then(response => response.text())#}
{#                    .then(data => {#}
{#                        const parser = new DOMParser();#}
{#                        const htmlDocument = parser.parseFromString(data, "text/html");#}
{#                        const newSentence = htmlDocument.getElementById('sentence').textContent;#}
{#                        const newTranslation = htmlDocument.getElementById('translation').textContent;  // get the new translation#}
{##}
{#                        originalSentence = newSentence;  // update the original sentence#}
{##}
{#                        document.getElementById('sentence').textContent = newSentence;#}
{#                        document.getElementById('translation').textContent = newTranslation;  // update the translation#}
{##}
{#                        // Reset resultsDiv and userInput#}
{#                        resultsDiv.innerHTML = '';#}
{#                        userInput.value = '';#}
{##}
{#                        // Change the button text to 'Submit'#}
{#                        submitButton.textContent = 'Submit';#}
{#                    });#}
{##}
{#                return;#}
{#            }#}
{##}
{#                // If the button says 'Submit', send a POST request to the compare endpoint#}
{#                fetch('/compare/', {#}
{#                    method: 'POST',#}
{#                    body: JSON.stringify({#}
{#                        user_sentence: userInput.value,#}
{#                        original_sentence: originalSentence,#}
{#                    }),#}
{#                    headers: {#}
{#                        'Content-Type': 'application/json',#}
{#                        'X-CSRFToken': csrftoken,#}
{#                    },#}
{#                })#}
{#                    .then(response => response.json())#}
{#                    .then(data => {#}
{#                        // Display the results in a user-friendly way#}
{#                        resultsDiv.innerHTML = `#}
{#                            <h2>Results</h2>#}
{#                            <p>Overall similarity score: ${data.similarity}</p>#}
{#                            <p>Your sentence: ${userInput.textContent}</p>#}
{#                        `;#}
{##}
{#                        data.word_scores.forEach(([word, score]) => {#}
{#                            resultsDiv.innerHTML += `<p>${word}: ${score}</p>`;#}
{#                        });#}
{##}
{#                        // Change the button text to 'Next'#}
{#                        submitButton.textContent = 'Next';#}
{#                    });#}
{##}
{#            });#}
{#            });#}
{##}
{#        </script>#}
{##}
{#        <script>#}
{#            const csrftoken = '{{ csrf_token }}';#}
{#        </script>#}
{##}
{#    </head>#}
{#    <body>#}
{#        <h1>Welcome, {{ username }}!</h1>#}
{#        <p>You are learning {{ learning_language }}.</p>#}
{#        <p>Your proficiency level is {{ proficiency }}.</p>#}
{#        <p id="sentence">{{ sentence.sentence }}</p>#}
{#        <p id="translation">{{ sentence.translation }}</p>#}
{##}
{#        <textarea id="user-input"></textarea>#}
{#        <button id="submit-button">Submit</button>#}
{#        <p id="error-text"></p>#}
{##}
{#        <div id="compare-results"></div>#}
{#    </body>#}
{#</html>#}
