{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head_scripts %} {% endblock %}
    {% if title %}
        <title>{{ title }}</title>
    {%  endif %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="learning" href="/learning">Learning</a></li>
                <li><a class="home" href="/">home</a></li>

            </ul>
        </nav>
    </header>
    <h1>From base</h1>
    <div class="container">
    {% block content %} {% endblock %}
    </div>
</body>
</html>