{% extends 'main/base.html' %}
{% load static %}
    {% block head_scripts %}
        <script src="{% static 'js/submit.js' %}" defer></script>
        <script>
            const csrftoken = '{{ csrf_token }}';
        </script>
        <script>
            window.onload = function() {
                originalSentence = "{{ sentence.sentence }}";
            };
        </script>
    {% endblock %}

    {% block content %}
        <h1>Welcome, {{ username }}!</h1>
        <p>You are learning {{ learning_language }}.</p>
        <p>Your proficiency level is {{ proficiency }}.</p>
        <p id="sentence">{{ sentence.sentence }}</p>
        <p id="translation">{{ sentence.translation }}</p>


        <textarea id="user-input"></textarea>
        <button id="submit-button">Submit</button>
        <p id="error-text"></p>

        <div id="compare-results"></div>
    {% endblock %}