
{% extends 'base.html' %}
{% load static %}

{% block head_scripts %}
    <script src="{% static 'js/submit.js' %}" defer></script>
    <script>
        const csrftoken = '{{ csrf_token }}';
    </script>
    <script>
        window.onload = function() {
            originalSentence = "{{ sentence.sentence }}";
        };
    </script>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div id="app"></div>
        <script src="{% static 'js/app.24418e04.js' %}"></script>
        <h1 class="mb-4">Welcome, {{ username }}!</h1>
        <p>Learning language: {{ learning_language }}.</p>
        <p>Learned words: {{ learned_word_count }}</p>
        <div class="mb-3">
            <label for="translation" class="form-label">Sentence:</label>
            <p id="translation" class="form-control">{{ sentence.translation }}</p>
        </div>

        <!-- TODO: REMOVE THIS FOR PROD!  -->D

        <div class="mb-3">
            <label for="sentence" class="form-label">Answer:</label>
            <p id="sentence" class="form-control">{{ sentence.sentence }}</p>
        </div>

        <div class="mb-3">
            <label for="user-input" class="form-label">Your Translation</label>
            <textarea class="form-control" id="user-input"></textarea>
        </div>
        <button class="btn btn-primary" id="submit-button">Submit</button>
        <p id="error-text" class="text-danger"></p>
        <div id="compare-results" class="mt-4"></div>
    </div>
{% endblock %}
